<p id="notice"><%= notice %></p>

<h1>Listado Facturas/Boletas y Notas</h1>



<table>
  <thead>
    <tr>
      <th>Td</th>
      <th>Fecha</th>
      <th>Turno</th>
      <th>Serie</th>
      <th>Numero</th>
      <th>Cod cli</th>
      <th>Ruc</th>
      <th>Placa</th>
      <th>Odometro</th>
      <th>Cod prod</th>
      <th>Descrip</th></th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Importe</th>
      <th>Igv</th>
      <th>Procesado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td 
        <td  class="small bordered_bottom bordered_right"><%= note.td %></td>
        <td class="small bordered_bottom bordered_right"><%= note.fecha.strftime("%d/%m/%Y") %></td>
        <td class="small bordered_bottom bordered_right"><%= note.turno %></td>
        <td class="small bordered_bottom bordered_right"><%= note.serie %></td>
        <td class="small bordered_bottom bordered_right"><%= note.numero %></td>
        <td class="small bordered_bottom bordered_right"><%= note.cod_cli %></td>
        <td class="small bordered_bottom bordered_right"><%= note.ruc %></td>
        <td class="small bordered_bottom bordered_right"><%= note.placa %></td>
        <td class="small bordered_bottom bordered_right"> <%= note.odometro %></td>
        <td class="small bordered_bottom bordered_right"><%= note.cod_prod %></td>
        <td class="small bordered_bottom bordered_right"><%= note.descrip %></td>
        <td class="small bordered_bottom bordered_right"><%= note.cantidad %></td>
        <td class="small bordered_bottom bordered_right"><%= note.precio %></td>
        <td class="small bordered_bottom bordered_right"><%= note.importe %></td>
        <td class="small bordered_bottom bordered_right"><%= note.igv %></td>
        <td class="small bordered_bottom bordered_right"> <%= note.get_processed_short %></td>
        <td class="small bordered_bottom bordered_right" ><%= link_to 'Ver', note %></td>
        <td class="small bordered_bottom bordered_right"><%= link_to 'Editar', edit_note_path(note) %></td>
        <td class="small bordered_bottom bordered_right"><%= link_to 'Eliminar', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @notes  %> 

<br>


<div class="button">
      <%= link_to 'Nueva Nota', new_note_path %>
</div>


<h2> Procesar informacion  </h2>

<%= form_tag procesar_notes_path do %>

    <div class="field">
      <input type="date" name="fecha1" value="2019-03-08" style = "width: 150px" >
    </div>

	<div class="field">
		  <input type="date" name="fecha2" value="2019-03-08" style = "width: 150px" >
  </div>
     	    <%= submit_tag  "Procesar ",  :"data-no-turbolink" => true  %>
     	    
     	    
		<% end %>		


<% if current_user.permission_level=='admin' %>

<h2>Importar Archivo Boletas "*.csv"</h2>
<%= form_tag import_notes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar " %>
<% end %>
<%end %>



<% if current_user.email=='percywoeds@gmail.com' %>
<%= link_to "Download as CSV", notes_path(:format => "csv") %>

<% end %>
