<p id="notice"><%= notice %></p>

<p>
  <strong>Td:</strong>
  <%= @note.td %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @note.fecha %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @note.turno %>
</p>

<p>
  <strong>Cod emp:</strong>
  <%= @note.cod_emp %>
</p>

<p>
  <strong>Caja:</strong>
  <%= @note.caja %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @note.serie %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @note.numero %>
</p>

<p>
  <strong>Cod cli:</strong>
  <%= @note.cod_cli %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @note.ruc %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @note.placa %>
</p>

<p>
  <strong>Odometro:</strong>
  <%= @note.odometro %>
</p>

<p>
  <strong>Cod prod:</strong>
  <%= @note.cod_prod %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @note.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @note.precio %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @note.importe %>
</p>

<p>
  <strong>Igv:</strong>
  <%= @note.igv %>
</p>

<p>
  <strong>Fpago:</strong>
  <%= @note.fpago %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
