<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :flag2, "Local *", :class => "bold"  %><br />
       <%= f.collection_select :flag2 , @local , :id, :descrip, :prompt => true %>
  </div>
  
  
  <div class="field">
      <%= f.label :cliente, "Razon Social *", :class => "bold"  %><br />
       <%= f.collection_select :cliente , @customer , :vcodigo, :vrazon2, :prompt => true %>
  </div>
  
    

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_field :fecha %>
  </div>
  
  
  <div class="field">
    <%= f.label :serie %><br />
    <%= f.text_field :serie %>
  </div>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  
  
  <div class="field">
    <%= f.label :cantidad %><br />
  <%= f.number_field :cantidad, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre  %>
  </div>
  
  <div class="field">
    <%= f.label :preciocigv %><br />
     <%= f.number_field :preciocigv, :step => 0.01 %>
  </div>
  
  
   <div >
    <%= f.label :vventa  %><br>
   <span id="invoice_vventa">0.00</span>
  </div>
  <div class="field">
    <%= f.label :igv %><br>
    <span id="invoice_igv">0.00</span>
  </div>
  <div class="field">
    <%= f.label :importe %><br>
    <span id="invoice_total">0.00</span>
  </div>
 
 
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">

  $(document).ready(function() {
    
    $("#invoice_cantidad").bind("keyup", function() {
      calculoTotal();
    });
    
    alert('calculo');
    $("#invoice_preciocigv").bind("keyup", function() {
      calculoTotal();
    });
    
  });
    
      function calculoTotal()
    {
      var quantity = $("#invoice_cantidad").val();
      var price = $("#invoice_preciocigv").val();
      
      
      var vventa = round(quantity * price,2);
      var total = round(vventa  * 1.18,2 );
      var igv = round(total - vventa ,2);
      
      
      $("#invoice_total").html(total);
      $("#invoice_vventa").html(vventa);
      $("#invoice_igv").html(igv);
      
     
    }
    
    function round(value, decimals) {
      return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
  }
</script>