<%= form_tag  editmultiple_invoices_path, method: :put do %>

  <link rel="stylesheet">

  <% if @invoices.count > 0 %>
    <table>
      <thead>
        <tr>
          <th class="bordered_right bordered_bottom" style="width: 80px;">
            Cliente
          </th>
          <th class="bordered_right bordered_bottom" style="width: 350px;">
            Razon Social
          </th>
          
          <th class="bordered_right bordered_bottom">
            Fecha
          </th>
          
             
          <th class="bordered_right bordered_bottom">
            Mon.
          </th>
          <th class="bordered_right bordered_bottom">
            Td
          </th>
          <th class="bordered_right bordered_bottom">
            Serie
          </th>
          <th class="bordered_right bordered_bottom">
            Numero
          </th>
          <th class="bordered_right bordered_bottom">
            PC/Igv
          </th>

          <th class="bordered_right bordered_bottom">
            Cantidad
          </th>
          <th class="bordered_right bordered_bottom">
            Importe 
          </th>     
          <th class="bordered_right bordered_bottom" style="width: 50px;">   
            Mail  
          </th>
          
           <% if current_user.permission_level=='admin' %>     
          <th class="bordered_right bordered_bottom" style="width: 50px;">   
           Activo?
          </th>
           
          <th class="bordered_right bordered_bottom" style="width: 50px;">   
           Estado 
          </th>
          <% end %>
          <th class="bordered_right bordered_bottom" style="width: 50px;">   

          </th>
          
          
        </tr>
      </thead>

      <tbody>
        <% for invoice in @invoices %>
          <tr>
            <td class="bordered_right bordered_bottom">
              <%= link_to invoice.cliente, invoice, :title => "Ir a factura" %>
            </td>
            <td class="bordered_right bordered_bottom">
              <%=  invoice.vrazon2 %>
            </td>
            
            <td class="bordered_right bordered_bottom">
              <%= invoice.fecha %>
            </td>
              
            <td class="bordered_right bordered_bottom">
              <%= invoice.moneda %>
            </td>
            
            
            <td class="bordered_right bordered_bottom">
              <%= invoice.td %>
            </td>
            <td class="bordered_right bordered_bottom right">
              <%= invoice.serie %>
            </td>
            <td class="bordered_right bordered_bottom right">
            <%= invoice.numero  %>
            </td>
            
            <td class="bordered_right bordered_bottom right">
              <%= money(invoice.preciocigv) %>
            </td>
            <td class="bordered_right bordered_bottom right">
              <%= money(invoice.cantidad) %>
            </td>
            
            
            <td class="bordered_right bordered_bottom right">
              <%= money(invoice.importe) %>
            </td>
            
            
            <td class="bordered_right bordered_bottom right">
            <% if invoice.flag1 != nil && invoice.flag1 != ""  %>          
              <i class="fa fa-check-square-o" aria-hidden="true"></i>            
            <% end %>
            </td>
            <% if current_user.permission_level=='admin' %>
            <td class="bordered_right bordered_bottom right">
            <% if invoice.flag2 != nil && invoice.flag2 != ""  && invoice.flag2 != "0" %>          
              <i class="fa fa-check-square-o" aria-hidden="true"></i>            
            <% end %>
            </td>
            
             <td class="bordered_right bordered_bottom right">
             <%= check_box_tag "products_ids[]", invoice.id  %>
             </td> 
            <% end %>
            
            <td class="bordered_right bordered_bottom">           
              <i> <%=link_to "Ver", invoice, data: { no_turbolink: true } %>  </i>

            </td>          
          </tr>
        <% end %>
      </tbody>
    </table>
    
    
    <%= will_paginate @invoices %> 

     <% if current_user.permission_level=='admin' %>
        <%= select_tag :field, options_for_select([["All Fields", ""]]) %>
        <%= submit_tag "Editar solo marcados" %>
     <% end %>

  <% else %>
    <p class="error">
      We couldn't find any invoices.
    </p>
  <% end %>
  <% end %>
  
  <style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2}
  </style>

