




<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @invoice.cliente %>
</p>
<p>
  <b>Ruc:</b>
  <%= @invoice.ruc %>
</p>
<p>

    <h3>  <%= $lcLegalName %></h3>
    <h4> Direccion:  <%= $lcDirCli   %></h4>
    <h4> Distrito : <%= $lcDisCli    %></h4>
    <h4> Provincia : <%= $lcProv       %></h4>
    <h4> Departamento :<%= $lcDep        %></h4>
</p>


<p>
  <b>Fecha:</b>
  <%= @invoice.fecha %>
</p>

<p>
  <b>Td:</b>
  <%= @invoice.td %>
</p>

<p>
  <b>Serie:</b>
  <%= @invoice.serie %>
</p>

<p>
  <b>Numero:</b>
  <%= @invoice.numero %>
</p>

<p>
  <b>Preciocigv:</b>
  <%= @invoice.preciocigv %>
</p>

<p>
  <b>Preciosigv:</b>
  <%= @invoice.preciosigv %>
</p>


<p>
  <b>Cantidad:</b>
  <%= @invoice.cantidad %>
</p>

<p>
  <b>Vventa:</b>
  <%= @invoice.vventa %>
</p>

<p>
  <b>Igv:</b>
  <%= @invoice.igv %>
</p>

<p>
  <b>Importe:</b>
  <%= @invoice.importe %>
</p>

<p>
  <b>Guia :</b>
  <%= @invoice.guia %>
</p>



<%= link_to 'Regresar', invoices_path %>

<h2>Enviar información a Sunat </h2>

<%= form_tag sendsunat_invoices_path, multipart: true do %>
  <%= submit_tag "Imprimir " %>
<% end %>



