<p id="notice"><%= notice %></p>

<p>
  <strong>Vcodigo:</strong>
  <%= @client.vcodigo %>
</p>

<p>
  <strong>Vruc:</strong>
  <%= @client.vruc %>
</p>

<p>
  <strong>Vrazon2:</strong>
  <%= @client.vrazon2 %>
</p>

<p>
  <strong>Vdireccion:</strong>
  <%= @client.vdireccion %>
</p>

<p>
  <strong>Vdistrito:</strong>
  <%= @client.vdistrito %>
</p>

<p>
  <strong>Vprov:</strong>
  <%= @client.vprov %>
</p>

<p>
  <strong>Vdep:</strong>
  <%= @client.vdep %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
