<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @notum.code %>
</p>

<p>
  <strong>Descrip:</strong>
  <%= @notum.descrip %>
</p>

<%= link_to 'Edit', edit_notum_path(@notum) %> |
<%= link_to 'Back', nota_path %>
