 <% if @invoice.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
    <ul>
    <% @invoice.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= hr() %>

<div class="mid_box bordered_right">
  <%= form_for(@invoice) do |f| %>
    <h4>
       Informacion Factura 
    </h4>

    <div class="field">
      
     <%= f.label :tipo ," Tipo de Nota  "%><br />
     <%= f.select :tipo , options_for_select([["NOTA DE CREDITO",1],["NOTA DE DEBITO",2]]) %>


      <div class="field">
      <%= f.label :fecha , "Fecha *", :class => "bold" %><br />    
      <%= f.text_field :fecha, value: Time.now.strftime("%d/%m/%Y") %>
      </div>

    <%= hr() %>
    
      <label for="ac_customer" class="bold">Cliente  *</label><br />
      <input type="text" name="ac_customer" id="ac_customer" value="<% if @ac_customer  %><%= @ac_customer  %><% end %>" />
      
      
      <div class="small">
        Ingrese una termino de busqueda para encontrar un cliente.
      </div>
      <br />

      <div class="small">
        <strong>Seleccionar Cliente:</strong>
        <span id="selected_customer"><% if @ac_customer %><%= @ac_customer %><% else %><!-- i --><% end %></span>
      </div>
     </div>

     <div class="field">
      <%= f.label :nota_id,"Tipo de nota de credito  " %><br />
      <%= f.select :nota_id,options_from_collection_for_select(@notas,'id','descrip') %>

    </div>
  
    <%= hr() %>
        
    <div class="field">
      <%= f.label :code, "Code*", :class => "bold" %><br />
      <%= f.text_field :code, :onclick => "$(this).select();" %>
    </div>
      
    <div class="field" id="list_items">
      <p class="bold big">Productos:</p>
    </div>
    
    <%= hr() %>    
    <div class="field">
      <%= f.label :mod_factura, "Factura a modificar" %><br />
      <%= f.text_field :mod_factura %>
    </div>  
      
    <%= hr() %>
    

    <%= hr() %>
      
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>  
      
    <%= hr() %>

  
    <div class="actions">
      <input type="hidden" name="items" id="items" value="<% if @products_lines %><%= @products_lines %><% end %>" />

      
      <%= f.hidden_field :customer_id, :id => "ac_customer_id" %>
      
      <%= f.submit %>
    </div>
    
    <div class="small">
      Once you're done adding products, don't forget to <strong><%= @action_txt %></strong> your invoice.
    </div>
  <% end %>
</div>

<div class="mid_box">
  <h4>
    Agregar Detalle 
  </h4>
  
  <form method="get" action="/services" onsubmit="addItemToCredits(); return false;">
    
    <strong>Producto:</strong><br />
    <%= select_tag(:ac_item_id,options_from_collection_for_select(@products,'id','name') ) %>
    <div class="small">
      Ingrese un termino de busqueda para encontrar un producto.
    </div>
    <br />
    
    <strong>Precio:</strong><br />
    <input type="text" name="ac_item_price" id="ac_item_price" value="" class="tf_short" />
    <div class="small">
      Precio del  producto para agregar una factura.
    </div>
    <br />
    
    <strong>Cantidad:</strong><br />
    <input type="text" name="ac_item_quantity" id="ac_item_quantity" value="1" class="tf_short" />
    <div class="small">
     Cantidad del producto para agregar una factura.
    </div>
    <br />
        
    <div>
      <strong>Total:</strong><br />
      <span id="ac_item_total">0.00</span>
    </div>
    
    <br />
    <input type="submit" value="Agregar item a Factura" />
    
  </form>
  
  <%= hr() %>
  

</div>


<%= br() %>
<br />

<%= render 'layouts/autocomplete' %>


<script type="text/javascript">
  $(document).ready(function() {
    $("#ac_customer").autocomplete("/credits/ac_customers", {
			matchSubset: 1,
			matchContains: 1,
      selectFirst: false
    });
    
    $("#ac_customer").result(function(event, data, formatted) {
      $("#ac_customer_id").val(data[2]);
      $("#selected_customer").html(data[0]);
    });        
          
    $("#ac_item_quantity").bind("keyup", function() {
      updateItemTotal();
    });
    
    $("#ac_item_price").bind("keyup", function() {
      updateItemTotal();
    });
        
    <% if @products_lines %>
    alert 'holas products_lines';
      listItemsInvoice2();
    <% end %>
  
  });
</script>