<p id="notice"><%= notice %></p>

<h1>Listado Nota </h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>

      <th>Code</th>
      <th>Cliente</th>
      <th>Nota</th>
      
      <th>Subtotal</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Moneda</th>
      <th>Mod factura</th>
      <th>Motivo</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notacredits.each do |notacredit| %>
      <tr>
        <td><%= notacredit.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= notacredit.code %></td>
        <td><%= notacredit.client.vrazon2 %></td>
        <td><%= notacredit.nota_id %></td>
        
        <td><%= notacredit.subtotal %></td>
        <td><%= notacredit.tax %></td>
        <td><%= notacredit.total %></td>
        <td><%= notacredit.moneda_id %></td>
        <td><%= notacredit.mod_factura %></td>
        <td><%= notacredit.motivo %></td>

        <td><%= link_to 'Ver', notacredit %></td>
        <td><%= link_to 'Print', print_invoices_path %></td>
        
        	<% if current_user.permission_level=='admin' %>
        <td><%= link_to 'Editar', edit_notacredit_path(notacredit) %></td>
        <td><%= link_to 'Eliminar ', notacredit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

	<% if current_user.permission_level=='admin' %>

<%= link_to 'Nueva Nota ', new_notacredit_path %>
<% end %>