<!DOCTYPE html>
<html>
<head>
  <title>Hidrotransp</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false  %>
  <%= csrf_meta_tags %>   
  <%= javascript_include_tag "app.js" %>  

  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">   

</head>
<body>
    <div id="header_cont">
      <div id="header">
        <div id="logo">
          </div>
      </div>
    </div>


    <%= render 'layouts/menu' %>
    <div id="content">
      
      <%- flash.each do |key, msg| -%>
        <div class="<%= key %>">
          <%= msg %>
        </div>
      <%- end -%>
    
      <%= yield %>

    </div>
  
    <div class="break"><!-- i --></div>
  
  
    <div id="footer_cont">
      <div id="footer">
        <%= link_to getAppUrl, getAppUrl %>
        <%= link_to "blog", "/blog" %>
        <%= link_to "terms of service", "/p/tos" %>
        <%= link_to "faq", "/p/faq" %>
        <%= link_to "help", "/help" %>
        <%= link_to "about us", "/p/about" %>
      </div>
    </div>
    
    <div id="loading">loading...</div>
    <div id="remote"><!-- i --></div>
    
    <iframe name="ires" id="ires"></iframe>
  </body>
</html>
