<!DOCTYPE html>
<html>
<head>
  <title>Hidrotransp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

</head>
<body>
  <div id="sidebar">
  <!-- 
    <div id="logo">
      <%= link_to invoices_path do %>
        <%= image_tag "/home/percy/sunat-ruby9/app/assets/images" %>
      <% end %>
    </div>
   --> 

    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Facturas", invoices_path %></li>
      <li><%= link_to "Clientes", clients_path %></li>
      <li><%= link_to "Acerca de" , about_path %></li>
      <% if user_signed_in? %>
        
       <li> <%= link_to "Cerrar Session ", destroy_user_session_path, method: :delete, data: { confirm: "Esta seguro de salir ?" } %> </li>
      
      <% end %>
    </ul>
    
    <ul>
      <li class="category">Social</li>
      <li><a href="http://fb.com/percywoeds">Facebook</a></li>
      <li><a href="https://github.com">Github</a></li>
      <li><a href="mailto:percywoeds@gmail.com">Email</a></li>
    </ul>
    <% if !user_signed_in? %>
      <p class="Sing in "><%= link_to "Admin Login", new_user_session_path %></p>
    <% end %>
  </div>
  
  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>All Posts</p>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to "Regresar a todas las facturas ", invoices_path %>
      <% end %>
        
      
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    
    <%= yield %>
    
  </div>

</body>
</html>
